{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM QQTECH</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
    
    <header>
        <nav>
            <div class="main-logo"><img src={% static "images/main_logo.png" %}></div>
            <a>Home</a>
            <a>CRMs</a>
            <a>My Projects</a>
            <a class="new-crm-icon"><i class="fa-light fa-file-spreadsheet"></i></a>
            <a></a>
            <a></a>
        </nav>
    </header>
    
    <div class="main-container">
        <div class="form-content">
            
            <form action='#' method="post" enctype="multipart/form-data">
            
                <fieldset>

                    <div class="form-tittle-box" >
                        <h3>Solicitação</h3>
                    </div>
                    <div class="inputs-con">
                        <div class="small-input-con">
                            <input type='text' name="solicitante" id="solicitante" class="small-input">
                            <label for="solicitante">Solicitante</label>
                        </div>

                        <div class="small-input-con">
                            <input type='date' name="date" id="date" class="date-input">
                        </div>

                        <div class="setores-con">
                            <input type='text' name="setores" id="setores" class="small-input">
                            <label for="setores">Setores</label>
                        </div>

                        <div class="small-input-con">
                            <input type='text' name="empresa" id="empresa" class="small-input">
                            <label for="empresa">Empresa</label>
                        </div>

                        
                        <div class="send-docs-con">
                            <label for="upload">Enviar Documentos</label>
                            <input type="file" name="Upload Docs" id="upload" placeholder='Anexe os Documentos'>
                        </div>

                        <div class="tall-input-con">
                            <input type='text' name="descrição" id="descrição" class="tall-input">
                            <label for="descrição">Descrição</label>
                        </div>
                        
                        <div class="tall-input-con">
                            <input type='text' name="justificativa" id="justificativa" placeholder="Justificativa">
                        </div>

                        <div class="tall-input-con">
                            <input type='text' name="Objetivo" id="objetivo" placeholder="Objetivo">
                        </div>

                        <div class="crm-dependence-check-box">
                            <a>Essa CRM depende de outro desenvolvimento?</a>
                            <br>
                            <input type="radio" name="sim" id="dependence-button-sim" placeholder="Sim">
                            <label for="button1">Sim</label>
            
                            <input type="radio" name="não" id="dependence-button-nao" placeholder="Não">
                            <label for="button2">Não</label>
                        </div>
            
                        <button class="form-button" type="submit" id="solict-button">Solicitar</button>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>
    
    <footer>
        <div class="skinny-footer-div">
            <a>© 2022 QQTech - All Rights Reserved</a>
        </div>
    </footer>


</body>
</html>