{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM QQTECH</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
    
    <header>
        <nav>
            <div class="main-logo"><img src={% static "images/main_logo.png" %}></div>
            <a href={% url 'homepage' %}>Home</a>
            <a href={% url 'crmlist-processo' %}>CRMs</a>
            <a href={% url 'mycrmlist-pendentes' %}>My Projects</a>
            <a href='{% url 'respostas' %}'>Respostas</a>
            <a class='new-crm-icon1' href='{% url 'createcrm'%}'><img src={% static "images/prancheta.png" %}></a>
            <a class='new-crm-icon2' href='{% url 'createcrm'%}'><img src={% static "images/mais.png" %}></a>
        </nav>
    </header>
    
    <div class="main-container">
        <div class="form-content">
            <div class="form-tittle-box" >
                {% block 'title' %}<h3>Solicitação</h3>{% endblock 'title'  %}
            </div>

            {%block 'form-action'%}
                <form action='{{ action }}' method="POST" enctype="multipart/form-data">
            {%endblock 'form-action'%}
                {% csrf_token %}

                <fieldset>
                    {% block 'formulario' %}
                        <div class="inputs-con">
                            <div class="small-input-con">
                                <input type='text' name="solicitante" id="solicitante"
                                placeholder='Solicitante' class="small-input" value='{{solicitante}}' readonly>
                                
                            </div>

                            <div class="small-input-con">
                                <input type='text' name="empresa" id="empresa"
                                placeholder='Empresa' class="small-input">
                            
                            </div>

            

                            <div class="small-input-con">
                                <input type='file' name="upload" id="upload" class="small-input" 
                                placeholder='Arquivos' multiple="multiple">
                                
                            </div>

                            
                            <select name='setores' id="setores" multiple="multiple" class='select-setores'>
                                {%for setor in setores%}
                                    <option value={{setor.id}}>{{setor.nome}}</option>
                                {%endfor%}
                            </select>
                            

                            <div class="tall-input-con">
                                <textarea type='text' name="descricao" id="descricao" placeholder="Descrição"></textarea>
                            </div>

                            <div class="tall-input-con">
                                <textarea type='text' name="justificativa" id="justificativa" placeholder="Justificativa"> </textarea>
                            </div>

                            <div class="tall-input-con">
                                <textarea type='text' name="objetivo" id="objetivo" placeholder="Objetivo"> </textarea>
                            </div>
                            

                            <div class='organiza'>
                                <div class="crm-dependence-check-box">
                                    <h3>Essa CRM depende de outro desenvolvimento?</h3>
                                    <br>
                        
                                    <input type="radio" name="dependencia" id="dependence-button-sim" placeholder="Sim" value='True'>
                                    <label for="button1">Sim</label>
                                    
                                    <input type="radio" name="dependencia" id="dependence-button-nao" placeholder="Não" value='False'>
                                    <label for="button2">Não</label>
                                </div>

                                <div class="crm-dependence-check-box">
                                    <h3>Grau de Complexidade</h3>
                                    <br>
                        
                                    <input type="radio" name="complexidade" id="dependence-button-sim"  value='Alta'>
                                    <label for="button1">Alto</label>
                                    
                                    <input type="radio" name="complexidade" id="dependence-button-nao"  value='Media'>
                                    <label for="button2">Médio</label>

                                    <input type="radio" name="complexidade" id="dependence-button-nao"  value='Baixa'>
                                    <label for="button2">Baixo</label>
                                </div>

                            </div>

                            
                            <div class="solicitation-button">
                                <button class="form-button" type="submit" id="solict-button">Solicitar</button>
                            </div>
                            
                        </div>
                    {% endblock 'formulario' %}
                </fieldset>

            </form>
        </div>
    </div>
    
    <footer>
        <div class="skinny-footer-div">
            <a>© 2022 QQTech - All Rights Reserved</a>
        </div>
    </footer>

    <script>
        function dropdown(){
            $('.select-setores').djangoselect2({placeholder:"Selecione os Setores", multiple : True});}

            $dropdown()
    </script>


</body>
</html>