{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM QQTECH</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>

<body>
    
    <header>
        <nav>
            <div class="main-logo"><img src={% static "images/main_logo.png" %}></div>
            <a href={% url 'homepage' %}>Home</a>
            <a href={% url 'crmlist-processo' %}>CRMs</a>
            <a href={% url 'mycrmlist-pendentes' %}>My Projects</a>
            <a class='new-crm-icon1' href='{% url 'createcrm'%}'><img src={% static "images/prancheta.png" %}></a>
            <a class='new-crm-icon2' href='{% url 'createcrm'%}'><img src={% static "images/mais.png" %}></a>
        </nav>
    </header>
    
    <div class="main-container-crmdetail">
        <div class='content-box-crmdetail'>
            <div class="crmdetail-title-box">
                <h3>CRM {{crm.id}}</h3>
            </div>
            <div class="all-details-container">
                <div class="short-details-container">
                    <div class="short-detail">
                        <h3>Solicitante</h3>
                        <h4>{{crm.solicitante.first_name}} {{crm.solicitante.last_name}}/{{crm.solicitante.username}}</h4>
                    </div>

                    <div class="short-detail">
                        <h3>Empresa</h3>
                        <h4>{{crm.empresa}}</h4>
                    </div>

                    <div class="short-detail">
                        <h3>Versão CRM</h3>
                        <h4>v{{crm.versao}}</h4>
                    </div>

                    <div class="short-detail">
                        <h3>Setores</h3>
                        <h4>{{setores}}</h4>
                    </div>

                    <div class="short-detail">
                        <h3>Data</h3>
                        <h4>{{crm.data_criacao|date:'d/m/Y'}}</h4>
                    </div>

                    <div class="short-detail">
                        <h3>Essa CRM depende de outro Desenvolvimento?</h3>
                        {%if crm.dependencia == False %}
                            <h4>Não</h4>
                        {%else%}
                            <h4>Sim</h4>
                        {%endif%}
                    </div>

                </div>

                <div class="tall-details-container">
                    <div class="tall-detail">
                        <h3>Descrição</h3>
                        <h4>{{crm.descricao}}</h4>
                    </div>

                    <div class="tall-detail">
                        <h3>Justificativa</h3>
                        <h4>{{crm.justificativa}}</h4>
                    </div>

                    <div class="tall-detail">
                        <h3>Objetivo</h3>
                        <h4>{{crm.objetivo}}</h4>
                    </div>
                </div>

                <div class="setores-detail-container">
                    <div class="setores-detail">
                        <div class="chave">
                            <div class='setores'>
                                <h3> <img src={% static 'images/user.png' %}> Setores</h3>
                            </div>
                            
                            <div class='colaboradores'>
                                <h3> <img src={% static 'images/user.png' %}> Colaboradores</h3>
                            </div>
                        </div>

                        <div class="valor">
                            <div class='setor'>
                                <h3>Setor 1</h3>
                            </div>

                            <div class='colaborador'>
                                <h3>Allan C.</h3>
                            </div>
                        </div>


                    </div>

                    <div class="crm-detail-buttons">
                        
                        <form action='' method='POST' >
                            {% csrf_token %}

                             {% if crm.solicitante == request.user  %}
                                <button class='arquivar-button' 
                                    type="submit" 
                                    value='arquivar'
                                    id='arquivar' 
                                    name='arquivar'>
                                    Arquivar CRM</button>
                                <button class='editar-button' 
                                    value='editar'
                                    id='editar' 
                                    name='editar'
                                    type="submit">Editar</button>
                            {% endif %}
                            <button class='versao-button'   type="submit">Versões Anteriores</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="skinny-footer-div">
            <a>© 2022 QQTech - All Rights Reserved</a>
        </div>
    </footer>
</body>
</html>