{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    
    <link rel="stylesheet"  href={% static "css/logincss.css" %}>
    
<body>
    <header>
        <nav>
            <div class="main-logo"><img src={% static "images/main_logo.png" %}></div>
            <a>Home</a>
            <a>CRMs</a>
            <a>My Projects</a>
            <a class="new-crm-icon"><i class="fa-light fa-file-spreadsheet"></i></a>
            <a></a>
            <a></a>
        </nav>
    </header>
    <div class="login-page-main-content">
        <div class="outer-login">
            <div class="joinus">
                <div class="login-logo"><img src={% static "images/main_logo.png" %}></div>
                <div class="texts-reg">
                    <h1>Join Us</h1>
                </div>
            </div>
            <div class="reg-form">
                <div class="texts-reg-form">
                    <h1>Create Account</h1>
                </div>

                <div class="reg-input-box">
                    <div class="input-nome">
                        <input type="text" name="nome" id="nome">
                    </div>

                    <div class="input-email">
                        <input type="text" name="email" id="email">
                    </div>

                    <div class="input-matricula">
                        <input type="text" name="matricula" id="matricula">
                    </div>

                    <div class="input-setor">
                        <input type="text" name="setor" id="setor">
                    </div>

                    <div class="input-senha">
                        <input type="text" name="senha" id="senha">
                    </div>

                </div>

                <div class="reg-page-buttons">
                    <button class="create-button" type="submit" id="create">Create</button>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="skinny-footer-div">
            <a>© 2022 QQTech - All Rights Reserved</a>
        </div>
    </footer>


    <script>
    
    </script>

    
</body>
</html>