{% extends 'createcrm.html' %}

{% block 'title' %}
    <h3>CRM {{crm.id}}</h3>
{% endblock 'title' %}


{% block 'form-action' %}
<form action={% url 'update_crm' crm.id crm.versao %} method="POST" enctype="multipart/form-data">
{% endblock 'form-action' %}

{% block 'formulario' %}
    <div class="inputs-con">
        <div class="small-input-con">
            <input type='text' name="solicitante" id="solicitante" class="small-input" value={{crm.solicitante}}>
            <label for="solicitante">Solicitante</label>
        </div>

        <div class="small-input-con">
            <input type='date' name="data" id="data" class="small-input" value={{crm.data_criacao}}>
            <label for="data"></label>
        </div>

        <div class="small-input-con">
            <input type='text' name="empresa" id="empresa" class="small-input" value={{crm.empresa}}>
            <label for="empresa">Empresa</label>
        </div>

        <div class="small-input-con">
            <input type='text' name="versao" id="versao" class="small-input" value={{crm.versao}}>
            <label for="versao">Versão CRM</label>
        </div>

        <div class="small-input-con">
            <input type='file' name="upload" id="upload" class="small-input" multiple="multiple">
            <label for="upload"></label>
        </div>

        <div class="small-input-con">
            <select name='setores' id="setores" multiple="multiple" value={{crm_setores}}>
                {%for setor in all_setores%}
                    <option value={{setor.id}}>{{setor.nome}}</option>
                {%endfor%}
            </select>
        </div>

        <div class="tall-input-con">
            <textarea type='text' name="descricao" id="descricao" placeholder="Descrição" value={{crm.descricao}}></textarea>
        </div>

        <div class="tall-input-con">
            <textarea type='text' name="justificativa" id="justificativa" placeholder="Justificativa" value={{crm.justificativa}}> </textarea>
        </div>

        <div class="tall-input-con">
            <textarea type='text' name="objetivo" id="objetivo" placeholder="Objetivo" value={{crm.objetivo}}></textarea>
        </div>
        

        <div class='org-div'>
            <div class="crm-dependence-check-box">
                <h3>Essa CRM depende de outro desenvolvimento?</h3>
                <br>

                <input type="radio" name="sim" id="dependence-button-sim" placeholder="Sim">
                <label for="button1">Sim</label>
                
                <input type="radio" name="não" id="dependence-button-nao" placeholder="Não">
                <label for="button2">Não</label>
            </div>
            <div class="solicitation-button">
                <button class="form-button" type="submit" id="editar-button">Editar</button>
            </div>
        <div/>
    </div>

{% endblock 'formulario' %}